<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="console-appender.xml"/>
    <include resource="discord-error-appender.xml"/>

    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>

    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>

    <springProperty name="DISCORD_ERROR_WEBHOOK_URL" source="logging.discord-error.webhook-url"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
    </root>

</configuration>
